<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário - ADD</title>
</head>
<body>
    <form method="post">
        Nome: <input type="text" name="nome" placeholder="Nome"><br>
        Email: <input type="email" name="email" placeholder="email@email.com"><br>
        Senha: <input type="password" name="senha" placeholder="Senha"><br>
        Foto: <input type="file" name="foto"><br><br>
        <input type="submit" name="Enviar">
    </form>
    <h2><%=msg%></h2>
</body>
</html>